/*Font Color*/
$base-font-size:15px;
$base-font-family:"Segoe UI","segoe WP","segoe Reguler","sans-serif";
$base-font-color:#000;

/*Background Color*/
$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e1eef2;
$dark-color:#333333;

/*cbox Color*/
$fill-color:#0078D7;
$fill-text-color:#fff;
$outline-text-color:#000;
$outline-color:#666;

/*circle Color*/
$circle-fill-color:#0078D7;
$circle-outline-color:#666;
